.item {
  display: flex;
  align-items: center;
  max-width: 432px;
  padding: 22px;
  border-radius: var(--border-radius);

  color: var(--color-purple);
  background-color: var(--color-background-dark);

  font-family: var(--ui-font-play);

  transition: var(--transition);
}

.text {
  flex-grow: 1;

  .item--completed & {
    color: var(--color-turquoise);
    text-decoration-line: line-through;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  width: 22px;
  height: 22px;

  border: var(--border-secondary);
  border-radius: var(--border-radius-medium);

  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;

  &:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:checked:after {
    content: "✔";
    color: var(--color-purple);
  }
}

.button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: var(--border-radius-medium);

  background-color: transparent;

  cursor: pointer;
}
