.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 90px;
  width: 452px;
  padding: 20px;
  border-radius: var(--border-radius);

  &.dropTarget {
    background-color: var(--color-drop-hover);
  }
}

.title {
  font-family: var(--ui-font-play);
}

.list {
  position: relative;
  transition: background-color 0.2s ease;

  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style: none;

  &--active {
    flex-direction: column-reverse;
  }

  &::before {
    content: "";
    display: block;
    height: 0;
    transition: height 0.2s ease;
  }

  .dropTarget & {
    &::before {
      height: 76px;
    }
  }
}
